rasterio
rasterstats
geopandas
pygadm
shapely
numpy
pandas
pyarrow
typer[all]
rich
folium
streamlit
--extra-index-url https://download.pytorch.org/whl/cpu
torch
chromadb
sentence-transformers
anthropic
beautifulsoup4
requests
imageio
Pillow
